@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

.yellow-gradient {
  background: linear-gradient(31deg, rgb(255 255 255) 15%, rgb(248 202 83 / 37%) 100%)
}

.green-gradient {
  background: linear-gradient(31deg, rgb(255 255 255) 15%, rgb(181 225 223) 100%);
}